<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.capstone">
    <!-- Required feature declaration for camera -->
    <uses-feature android:name="android.hardware.camera" /> <!-- Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- Permission to write to external storage, maxSdkVersion set to 28 for compatibility -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone"
        tools:targetApi="31">
        <activity
            android:name=".LoginloginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities, not exported for private use -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" /> <!-- Splash screen activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ConvertSignToWordActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
    </application>

</manifest>